# SPDX-FileCopyrightText: (C) 2024 Intel Corporation
# SPDX-License-Identifier: LicenseRef-Intel

# store image source
IMG_SOURCE=""
IMG_SOURCE_SHA=""

# debug on/off
DEBUG=false

# shared function return value
FNRETURN=""

# image preparation
TEMPFILE=""
EXPECTEDRAWSIZE=2500
LOOPDEV=""
ISDELETESOURCE=true
# only acceptable indexes in OS
INDEXPARTA=2
INDEXPARTB=6
# index mapping for DM verity only
INDEXHASHPART=7
INDEXMAPPARTA=4
INDEXMAPPARTB=5

# dynamic var
TEMPDATA="/opt/OS/abupdate"
RAWSOURCE="$TEMPDATA/source.raw"
SOURCEBOOTMOUNT="$TEMPDATA/sourcemount"
SOURCECOPY="$TEMPDATA/sourceos"
DESTCOPY="$TEMPDATA/destos"
UPDATEMOUNTPOINT="$TEMPDATA/abmount"

# updates
TARGETDEV=""
NEXTBOOT=""
ACTIVEBOOT=""
SOURCEDEV=""
SOURCEBOOTDEV=""
SOURCEEFIMOUNT="/EFI/Linux/"

# active partition
EFILOCATION="/boot/efi/EFI/Linux"
EFIROOTLOCATION="/EFI/Linux"
BOOTDATA="/boot/efi/EFI/Linux/os-update-tool-data"
CRYPTEDPART="/dev/mapper"
